<%= form_for(@contact) do |f| %>
    <% if @contact.errors.any? %>
      <div class="panel panel-danger">
        <div class="panel-heading"><%= pluralize(@contact.errors.count, "error") %> prohibited this message from being sent:</div>
        <div class="panel-body">
          <% @contact.errors.full_messages.each do |msg| %>
            <div><%= msg %></div>
          <% end %>
        </div>
      </div><br>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :contact %><br>
      <%= f.text_field :contact, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :subject %><br>
      <%= f.text_field :subject, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :message %><br>
      <%= f.text_area :message, rows: 5, class: 'form-control' %>
    </div>

    <%= f.submit "Send", class: 'btn btn-primary' %>

 <% end %>
