<!DOCTYPE html>
<html>
  <head>
    <title>Chris Boshoff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/jpg" href="/assets/berg.jpg" width="5" height="9"/>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <script>
      (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].q = i[r].q || []).push(arguments);
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-49936647-1', 'chrisboshoff.co.za');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/?home=1">Chris Boshoff</a>                  
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li <%= 'class=active' if params[:controller] == 'career'%>><a href="/career">Career</a></li>
            
            <li <%= 'class=active' if params[:controller] == 'project' or params[:controller] == 'api' or params[:controller] == 'software'%> class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/articles">Articles</a></li>
                <li><a href="/api">RESTful API</a></li>
                <li><a href="/software">Other Projects</a></li>
              </ul>
            </li>

            <li <%= 'class=active' if params[:controller] == 'inspiration'%>><a href="/inspiration">Inspirations</a></li>
            <li <%= 'class=active' if params[:controller] == 'contact'%>><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        
      </div>
    </div>
    
    <%= yield %>

    <div class="container">
      <hr>

      <footer>
        <p>Chris Boshoff &copy; <%=Time.now.strftime('%Y')%></p>
        <a href="mailto:chris.bossie@gmail.com?Subject=Hello" style="padding-right: 3px;">
          <img src="/assets/24x24_email.png" alt="Email" title="Email me" style="background-color: #3d3d3d"/></a>
        <a href="http://www.linkedin.com/in/chrisbossie" target="_blank" style="padding-right: 3px;">
          <img src="/assets/24x24_linkedin.png" alt="LinkedIn" title="View my LinkedIn profile" style="background-color: #3d3d3d"/></a>
        <a href="skype:chris.bossie?chat" target="_blank" style="padding-right: 3px;">
          <img src="/assets/skype-512.gif" alt="Skype" title="Chat on Skype" height="24" style="background-color: #3d3d3d"/></a>
      </footer>

    </div>
  </body>

</html>
